<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		@font-face {
			font-family: 'custom';
			src: url('/fonts/Comic Sans MS.ttf');
		}

		body {
			font-family: 'custom'
		}
	</style>
</head>
<body ng-app="bubbleApp" ng-controller="MainCtrl">
	<h1 style="text-align:center">Create Bubble tea masterpieces!</h1>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<input id="color1" type="color" value="#ff0000" style="top: -1000; position: absolute">
				<label class="btn btn-lg" id="color1Picker" for="color1" style="background-color: #ff0000; color: white; width: 100%">Background Color</label>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<input id="color2" type="color" value="#0000ff" style="top: -1000; position: absolute">
				<label class="btn btn-lg" id="color2Picker" for="color2" style="background-color: #0000ff; color: white; width: 100%">Foreground Color</label>
			</div>
		</div>
		<br/>
		<div class="row" ng-show="image_loaded">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<button ng-click="rotateLeft()" class="btn btn-lg" style="background-color: #ff00ff; color: white; width: 100%">Rotate Left</button>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<button ng-click="rotateRight()" class="btn btn-lg" style="background-color: #00f0ff; color: white; width: 100%">Rotate Right</button>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<input id="upload" type="file" class="hidden">
				<label class="btn btn-lg" for="upload" style="width: 100%; background-color: #aaffaa">Upload your file</label>
			</div>
		</div>
		<br/>
		<div class="row" ng-show="image_loaded">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<a download id="downloadButton" class="btn btn-lg" style="width: 100%; background-color: #aaaaff">Download your masterpiece</a>
			</div>
		</div>

		<br/>
		<div style="position: absolute; left: 50%">
			<canvas id="thecanvas" width="520px" height="520px" style="position: relative; left: -50%"></canvas><br>
		</div>
</body>


<script type="text/javascript" src="extra/flags/js/jQuery.js"></script>
<script type="text/javascript" src="extra/flags/js/angular.js"></script>
<script>
bubbleApp = angular.module("bubbleApp", [])
	.controller("MainCtrl", ["$scope",
			MainCtrl]);
var canvas = document.getElementById("thecanvas");
var rotate = 0;
context = canvas.getContext("2d");

function MainCtrl($scope){
	$scope.overlays = [
	];
	$scope.current_overlay = function(overlay){
		overlay_image = new Image();
		overlay_image.src = "extra/bubbles/images/" + overlay + ".png";
		context.globalAlpha = 1;
		context.drawImage($scope.image, 0, 0);
		overlay_image.onload = function(){
			context.globalAlpha = 0.5;
			context.drawImage(overlay_image, 0, 0, canvas.width, canvas.height);
			context.restore();
		}
	}
	$scope.rotateLeft = function () {
		rotate += 90;
		set_image($("#upload")[0].files);
	}
	$scope.rotateRight = function () {
		rotate -= 90;
		set_image($("#upload")[0].files);
	}
	$scope.upload_overlay = function(){
		$("#upload-overlay").click();
	}
	$("#upload-overlay").change(function(){
		overlay_files = $("#upload-overlay")[0].files;
		new_overlay = overlay_files[overlay_files.length - 1];
		overlay_image = new Image();
		overlay_image.src = URL.createObjectURL(new_overlay);
		overlay_image.onload = function(){
			context.globalAlpha = 0.5;
			context.drawImage(overlay_image, 0, 0, canvas.width, canvas.height);
			context.restore();
		}
	});
	$("#upload").change(function(){
		set_image($("#upload")[0].files);
	});
	$("#color1").change(function(){
		$('#color1Picker').css('background-color', $('#color1').val());
		set_image($("#upload")[0].files);
	});
	$("#color2").change(function(){
		$('#color2Picker').css('background-color', $('#color2').val());
		set_image($("#upload")[0].files);
	});
	function set_image(files){
		current = files[files.length - 1];
		$scope.image = new Image();
		if (current === undefined) {
			return
		}
		$scope.image.src = URL.createObjectURL(current); 
		$scope.image.onload = function(){
			context.height = canvas.height = 500;
			context.width = canvas.width = 500;
			context.save();
			context.translate(250, 250);
			context.rotate(rotate * Math.PI/180);
			context.drawImage($scope.image, -250, -250, 500, 500);
			context.restore();
			context.font = 'bold 45px custom';
			context.fillStyle = $("#color1").val();
			context.textAlign = 'center';
			context.textBaseline = 'top';
			context.fillText("Join BubbleTea", 250, 0);
			context.textBaseline = 'bottom';
			context.fillText("Level 6", 250, 300);
			context.fillText("24/7 buff", 250, 350);
			context.fillText("70 GQ/Week", 250, 400);
			context.fillText("Semi Casual", 250, 450);
			context.fillText("Discord.GG/DbjMKYf", 250, 500);
			context.fillStyle = $("#color2").val();
			context.textBaseline = 'top';
			context.fillText("Join BubbleTea", 255, 0);
			context.textBaseline = 'bottom';
			context.fillText("Level 6", 255, 300);
			context.fillText("24/7 buff", 255, 350);
			context.fillText("70 GQ/Week", 255, 400);
			context.fillText("Semi Casual", 255, 450);
			context.fillText("Discord.GG/DbjMKYf", 255, 500);
			$scope.image_loaded = true;
			$scope.$apply();
			document.getElementById('downloadButton').href = canvas.toDataURL('image/png');
		}
	}
};
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
		Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-54739310-1', 'auto');
ga('send', 'pageview');
</script>
