<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="bubbleApp" ng-controller="MainCtrl">
	<h1 style="text-align:center">Create Bubble tea masterpieces!</h1>
	<div class="well">
		<canvas id="thecanvas" width="520px" height="520px"></canvas><br>
	</div>
	<input id="upload" type="file">
	<div ng-if="image_loaded">
		<h2>Overlays:</h2>
		<div ng-repeat="overlay in overlays | orderBy:'+'">
			<button class="btn btn-default" ng-click="current_overlay(overlay)">{{ overlay }}</button>
		</div>
	</div>
	<div ng-show="image_loaded">
		<button class="btn btn-default" ng-click="upload_overlay()">Upload your own</button>
		<input id="upload-overlay" type="file" style="display:none; width:0; height:0">
	</div>
</body>


<script type="text/javascript" src="extra/flags/js/jQuery.js"></script>
<script type="text/javascript" src="extra/flags/js/angular.js"></script>
<script>
bubbleApp = angular.module("bubbleApp", [])
	.controller("MainCtrl", ["$scope",
			MainCtrl]);
var canvas = document.getElementById("thecanvas");
context = canvas.getContext("2d");

function MainCtrl($scope){
	$scope.overlays = [
	];
	$scope.current_overlay = function(overlay){
		overlay_image = new Image();
		overlay_image.src = "extra/bubbles/images/" + overlay + ".png";
		context.globalAlpha = 1;
		context.drawImage($scope.image, 0, 0);
		overlay_image.onload = function(){
			context.globalAlpha = 0.5;
			context.drawImage(overlay_image, 0, 0, canvas.width, canvas.height);
			context.restore();
		}
	}
	$scope.upload_overlay = function(){
		$("#upload-overlay").click();
	}
	canvas.ondragover = function(event){
		event.preventDefault();
		return false;
	}
	canvas.ondrop = function(event){
		event.preventDefault();
		var files = event.dataTransfer.files;
		set_image(files);
	};
	$("#upload-overlay").change(function(){
		overlay_files = $("#upload-overlay")[0].files;
		new_overlay = overlay_files[overlay_files.length - 1];
		overlay_image = new Image();
		overlay_image.src = URL.createObjectURL(new_overlay);
		overlay_image.onload = function(){
			context.globalAlpha = 0.5;
			context.drawImage(overlay_image, 0, 0, canvas.width, canvas.height);
			context.restore();
		}
	});
	$("#upload").change(function(){
		set_image($("#upload")[0].files);
	});
	function set_image(files){
		current = files[files.length - 1];
		$scope.image = new Image();
		$scope.image.src = URL.createObjectURL(current); 
		$scope.image.onload = function(){
			context.height = canvas.height = 500;
			context.width = canvas.width = 500;
			context.drawImage($scope.image, 0, 0, 500, 500);
			context.font = 'bold 48px serif';
			context.fillStyle = 'red';
			context.textAlign = 'center';
			context.textBaseline = 'top';
			context.fillText("Join BubbleTea", 250, 0);
			context.fillText("Level 6", 250, 50);
			context.fillText("24/7 buff", 250, 100);
			context.fillText("70 GQ/Week", 250, 150);
			context.fillText("Semi Casual", 250, 200);
			context.fillText("Discord.GG/DbjMKYf", 250, 250);
			context.font = 'bold 50px serif';
			context.fillStyle = 'blue';
			context.fillText("Join BubbleTea", 250, 0);
			context.fillText("Level 6", 250, 50);
			context.fillText("24/7 buff", 250, 100);
			context.fillText("70 GQ/Week", 250, 150);
			context.fillText("Semi Casual", 250, 200);
			context.fillText("Discord.GG/DbjMKYf", 250, 250);
			$scope.image_loaded = true;
			$scope.$apply();
		}
	}
};
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
		Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-54739310-1', 'auto');
ga('send', 'pageview');
</script>
